@model List<BusinessLogic.Models.VisitJournal>;
@{
    ViewData["Title"] = "Home Page";
}
@using (Html.BeginForm("ChangeJournal", "Home", FormMethod.Post))
{
    <div class="text-center">
    <h1 class="display-4">Посещаемость</h1>
    <table class="table mt-4">
  <thead class="thead-dark bg-primary text-light">
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Лекция</th>
      <th scope="col">Студент</th>
      <th scope="col">Оценка</th>
      
    </tr>
  </thead>
  <tbody>
      @for(int i=0;i< Model.Count;i++){
       <tr>
      <th scope="row">@Model[i].Id</th>
      <td>@Model[i].Student.Name @Model[i].Student.Surname</td>
      <td>@Model[i].Lection.Subject</td>
      <td>@Html.DropDownListFor(m=>m[i].Mark, new SelectList(Enum.GetValues(typeof(BusinessLogic.Models.VisitJournal.Marks))), new { @class = "form-control" })</td>
      @Html.HiddenFor(j => j[i].Id);
    </tr>
      }
  </tbody>
</table>
  <button type="submit" class="btn btn-primary">Сохранить</button>
</div>
}

